{% extends "rango/base.html" %}

{% block title %}

        {{ catehory_name }}

{%  endblock %}

{% block body_block %}


        <div class="row">
              <div class="col-md-8">


                <strong>
                  {% for i in list_items %}

                      <p> {{ i }} </P>

                  {% endfor %}
                </strong>

               </div>


              <div class="col-md-4">

                      <img src="{%  static "images/rango.jpg"  %}" alt="Picture of Rango" /> <!-- New line -->

               </div>
        </div>




        <a href="/rango">Rango Home</a><br />

      </div>
    {% endblock %}
