<!DOCTYPE html>

{% load staticfiles %} <!-- New line -->


<html>

    <head>
        <title>Rango</title>
          <link rel="stylesheet" href="{% static "css/base.css" %}" /> <!-- CSS -->
    </head>

    <body>
      <div class="container">
        <h1>Rango says...</h1>

        <div class="row">
              <div class="col-md-8">


                <strong>
                  {% for i in list_items %}

                      <p> {{ i }} </P>

                  {% endfor %}
                </strong>

               </div>


              <div class="col-md-4">

                      <img src="{%  static "images/rango.jpg"  %}" alt="Picture of Rango" /> <!-- New line -->

               </div>
        </div>




        <a href="/rango">Rango Home</a><br />

      </div>
    </body>

</html>
