{% extends "rango/base.html" %}

{% block title %}

        {{ catehory_name }}

{%  endblock %}

{% block body_block %}

        <h1>Add Page</h1>
        <form id="page_form" method="post" action="/rango/category/{{ category_name_url }}/add_page/">
           <div class="form-group">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                <div class="form-group">
                  {{ field.errors }}
              </div>
                <div class="form-group">
                  {{ field.help_text }}
                  {{ field }}
                </div>

            {% endfor %}
          </div>
            <input type="submit"  class="btn btn-primary" name="submit" value="Add Page" />

        </form>

{% endblock %}
